# Python
__pycache__/
*.pyc

# Config and Logs
app_config.json
debug_log.txt

# Models
*.onnx
*.pth

# OS
.DS_Store

# Environment
venv/
.env
user_data/

# IDE
.vscode/
.idea/

# Build
build/
dist/
*.spec

# Logs
*.log

# User requests
preview_bg.png
WFO Portrait Maker 開発ドキュメント_Version_ 5.0.0 (Final....md
要件定義書.md
